@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

/* variables */
/* Variables */
/* Seccion header y main utilizando bootstrap */
body {
  background-color: #1d1d1d;
}

/* Comienza sección noticias-tradingview */
.bloqueNoticias {
  color: white;
  grid-area: section;
  background: linear-gradient(45deg, black, rgba(135, 131, 131, 0.238));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, Geneva, Tahoma, sans-serif, Times, serif;
  /* uso la variable */
}

.bloqueNoticias .informacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bloqueNoticias .informacion div h3 {
  text-align: center;
}

.bloqueNoticias .informacion .liInformacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bloqueNoticias .informacion .liInformacion .li {
  list-style: none;
}

.bloqueNoticias .informacion .liInformacion .li a {
  text-decoration: none;
  color: chocolate;
}

.bloqueNoticias .informacion .liInformacion .li a:hover {
  color: #d3b713;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.bloqueNoticias .tradingView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloqueNoticias .tradingView h3 {
  text-align: center;
}

.bloqueNoticias .tradingView a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.bloqueNoticias .tradingView a img {
  height: 100px;
}

.bloqueNoticias .tradingView a img:hover {
  height: 105px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

/* finaliza sección noticias-tradingview */
/* comienza seccion pie de pagina */
.footer {
  width: 100%;
  height: 150px;
  grid-area: footer;
  background: linear-gradient(45deg, rgba(57, 45, 6, 0.347), #0e0d0d);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1px;
  color: white;
}

.footer .divFooter {
  text-align: center;
  margin: 1%;
  font-size: small;
}

.footer .divFooter ul li {
  list-style: none;
}

.footer .divFooter img {
  width: 130px;
}

.footer .divFooter .divFooterRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .divFooter li a img {
  width: 40px;
  margin: 10px;
}

.footer .divFooter li a img:hover {
  width: 43px;
  margin: 8.5px;
}

/* finaliza seccion pie de pagina */
/* maps */
.formulario-nombre {
  color: yellow;
}

.formulario-apellido {
  color: #a8a804;
}

.formulario-email {
  color: blue;
}

.formulario-password {
  color: grey;
}

.titulo {
  background: yellow;
}
/*# sourceMappingURL=estilos.css.map */